@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}

.button {
    font-family: inherit;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/* index.html */

/* Header */

.page-header {
    background: #FFFFFF;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
    color: #000000;
    background-color: #FFE17F;
}

.navigation-user {
    display: flex;
    justify-content: space-between;
    width: 1075px;
    margin-left: 60px;
    margin-right: 25px;
}

.navigation-link {
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.navigation-user .navigation-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    text-transform: none;
}

.navigation-main {
    display: flex;
    justify-content: space-between;
    width: 1041px;
    margin-left: 60px;
    margin-right: 59px;
}

/* Slider */

.main-container {
    flex-grow: 1;
}

.slider-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gallery {
    width: 560px;
}

.advantages {
    width: 560px;
}

.slider-pagination, .slider-characteristics {
    margin: 0;
    padding: 0;
}

.slider-number {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #FFE17F;
}

.slider-text {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.slider-description {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.slider-characteristics-name {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.slider-characteristics-range {
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    line-height: 30px;
}

/* Categories */
.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.categories-link {
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

/* Services */

.services {
    width: 1440px;
    margin: 0 auto;
}

.services-container {
    display: flex;
    background: #EBEBEB;
}

.services-list {
    width: 280px;
    margin: 0;
    padding: 0;
    margin-left: 140px;
}

.delivery {
    width: 1020px;
}

.delivery-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.delivery-text {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

/* About company */

.company {
    width: 1160px;
    margin: 0 auto;
}

.company-title-container {
    background: #EBEBEB;
}

.company-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0F0F0;
}

.company-container {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 560px;
}

.about-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.about-text {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.about-list {
    margin: 0;
    padding: 0;
}

.contacts {
    width: 560px;
}

.contacts-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.contacts-text {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.about-name {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.contacts-address-text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.contacts-address-phone {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    text-decoration: none;
    text-decoration-line: underline;
    color: #000000;
}

.contacts-schedule {
    margin: 0;
    padding: 0;
}

.contacts-schedule-item {
    font-family: "Rubik", sans-serif;
}

/* Newsletter */

.newsletter {
    width: 1440px;
    margin: 0 auto;
}

.newsletter-container {
    width: 1160px;
    margin: 0 auto;
}

.newsletter {
    background-color: #F0F0F0;
}

.newsletter-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.newsletter-text {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.newsletter-free-span {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

/* Footer */

.page-footer {
    width: 1440px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #444444;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-address {
    width: 240px;
}

.footer-address-text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.phone-text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
}

.footer-phone {
    width: 300px;
}

.footer-phone-number {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/* catalog.html */

/* Main */

.inner-header-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.6;
}

/* Filter */

.catalog-filter {
    background: #EBEBEB;
}

.catalog-filter-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.control-label {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

/* Sorting */

.sorting-container {
    background: #EBEBEB;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 24px;
}

.product-card-price {
    font-family: "Rubik", sans-serif;
    line-height: 21px;
    color: #444444;
}

/* Pagination */

.pagination {
    background: #EBEBEB;
}

.pagination-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}

.pagintation-prev {
    color: #000000;
    text-transform: uppercase;
}

.pagintation-next {
    color: #000000;
    text-transform: uppercase;
}

.pagintation-number {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    opacity: 0.3;
}