@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubick/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 40%, #ffc700 20%, #ffc700 60%, transparent 20%);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.2em;
  width: 220px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: none;
}

.button:hover {
  background-image: none;
  background-color: #ffc700;
}

.button:focus {
  outline: none;
  background-image: linear-gradient(to bottom, transparent 40%, #af4fff 20%, #af4fff 60%, transparent 20%);
}

.button:active {
  opacity: 0.3;
}

/* index.html */

/* Header */

.page-header {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  background-image: linear-gradient(to top, #ffe17f 82%, #ffffff 7%);
}

.page-header-link {
  display: inline-block;
  margin: 16px auto 18px 60px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1070px;
  min-height: 20px;
  margin-left: 44px;
  margin-right: 72px;
  position: relative;
}

.header-form {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 534px;
  position: relative;
}

.header-link {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.header-search {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.header-search-input {
  width: 320px;
  background: #ffe17f;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.header-search-input:active ~ .header-search-button {
  visibility: visible;
}

.header-search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  visibility: hidden;
  width: 160px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 11px;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  background: #ffe17f;
  border: none;
  border-left: 2px solid transparent;
}

.header-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-search-input:focus + .header-search-button {
  border-left-color: #af4fff;
  visibility: visible;
  color: transparent;
}

.header-search-input:active + .header-search-button {
  border-left-color: #000000;
}

.header-search-button:active {
  background-color: #000000;
  color: #444444;
  border-radius: 0 20px 20px 0;
}

.header-search-input:hover::placeholder {
  color: #444444;
}

.header-search-input:focus {
  border-color: #af4fff;
  border-radius: 20px 0 0 20px;
}

.header-search-input:focus-within {
  outline: 2px solid #000000;
}

.header-search-input:not(:placeholder-shown) ~ .header-search-button {
  visibility: visible;
  border-left-color: #000000;
}

.header-form:placeholder-shown {
  border-color: #000000;
  border-radius: 20px;
}

.header-search:focus,
.header-search-input:focus,
.header-search-button:focus {
  outline: none;
}

.header-login {
  width: 117px;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.login-icon {
  padding: 14px 12px 14px 0;
}

.header-user {
  width: 133px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.header-logout {
  min-width: 50px;
  padding: 10px 10px 10px 10px;
  margin-left: 5px;
}

.header-compare {
  width: 149px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-link:hover {
  opacity: 0.6;
}

.header-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.header-link:active {
  opacity: 0.3;
  outline: none;
}

.compare-icon {
  padding: 14px 10px 14px 0;
}

.header-basket {
  width: 131px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-basket:hover + .popover {
  display: block;
}

.basket-circle {
  display: block;
  min-width: 21px;
  min-height: 21px;
  line-height: 21px;
  border-radius: 50%;
  font-size: 14px;
  color: #000000;
  text-align: center;
  background: #ffffff;
  z-index: 1;
}

.basket-icon {
  padding: 13px 10px 13px 0;
  margin-left: -5px;
}

.popover {
  display: none;
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background: #000000;
  min-height: 186px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popover::before {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-left: -9px;
  background-color: #000000;
  content: "";
  transform: rotate(45deg);
}

.popover-content {
  height: 100%;
}

.cart-items-list,
.cart-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  margin-bottom: 20px;
}

.cart-item-item {
  display: grid;
  grid-template-columns: 41px 180px 13px;
  column-gap: 23px;
}

.cart-item-title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

.cart-item-button {
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url("../images/delete.svg");
  width: 10px;
  height: 10px;
}

.popover-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popover-total-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.popover-open-button {
  width: 280px;
  height: 50px;
  background: #ffffff;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cart-item-item:hover {
  opacity: 0.6;
}

.popover-open-button:hover {
  background: #ffe17f;
}

.cart-item-image:focus {
  outline: 5px solid #af4fff;
}

.cart-item-image:focus + .cart-item-title {
  color: #af4fff;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.popover-open-button:focus {
  outline: 5px solid #af4fff;
}

.cart-item-item:active {
  opacity: 0.3;
  outline: none;
}

.popover-open-button:active {
  background: #ffe17f;
  opacity: 0.3;
  outline: none;
}

.navigation-main {
  display: flex;
  align-items: center;
  width: 1080px;
  margin-top: 20px;
  margin-bottom: 36px;
  margin-left: 44px;
  margin-right: 72px;
}

.navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  position: relative;
  width: 314px;
}

.navigation-catalog:hover .subcatalog-list {
  display: grid;
}

.subcatalog-list {
  display: none;
  grid-template-columns: 60px 210px 29px 200px 200px;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  width: 1160px;
  height: 182px;
  margin: 0;
  top: 50px;
  left: -44px;
  background: #ffe17f;
}

.subcatalog-item:nth-child(1),
.subcatalog-item:nth-child(2),
.subcatalog-item:nth-child(3) {
  grid-column: 2 / 3;
}

.subcatalog-item:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.subcatalog-item:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.subcatalog-item:nth-child(6) {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.subcatalog-link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.catalog-link,
.delivery-link,
.garanty-link,
.contacts-link {
  padding: 14px 18px 15px 18px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 534px;
}

.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.2;
  border: 2px solid #000000;
  box-sizing: border-box;
  position: relative;
}

.navigation-button::before {
  content: "";
  position: absolute;
  top: 14px;
  bottom: 14px;
  width: 0;
  border: 1px solid #000000;
}

.navigation-button::after {
  content: "";
  position: absolute;
  right: 14px;
  left: 14px;
  width: 16px;
  border: 1px solid #000000;
}

.navigation-link,
.catalog-link {
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.navigation-link::after {
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 7px;
  border: 2px solid #000000;
  visibility: hidden;
}

.navigation-catalog:hover .navigation-button {
  opacity: 1;
  background-color: #ffe17f;
}

.navigation-catalog:hover .navigation-button::before {
  opacity: 1;
  visibility: hidden;
}

.navigation-link:hover::after {
  visibility: visible;
}

.navigation-link:focus,
.catalog-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-catalog:active {
  opacity: 0.3;
}

.catalog-link:active {
  outline: none;
}

.navigation-link:active::after {
  visibility: visible;
  opacity: 0.3;
}

.garanty-link {
  margin-left: -4px;
  margin-right: 6px;
}

.contacts-link {
  margin-left: 46px;
  margin-right: -7px;
}

/* Slider */

.main-container {
  flex-grow: 1;
}

.main-catalog-container {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.slider-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, #ffffff 73%, #ffe17f 25%);
  position: relative;
  margin-top: -36px;
}

.slider-close {
  display: none;
}

.slider-image {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 560px;
  transform: translateY(-50%);
}

.slider-button {
  width: 56px;
  height: 80px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: url("../images/left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 6px;
}

.slider-button:active {
  opacity: 0.3;
  outline: none;
}

.slider-next {
  transform: rotate(180deg);
}

.gallery {
  width: 560px;
}

.advantages {
  width: 560px;
}

.advantages-pagination {
  display: flex;
  justify-content: space-between;
  line-height: 21px;
  margin-bottom: 54px;
}

.slider-pagination {
  top: 350px;
  right: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.slider-pagination-button:active {
  opacity: 0.3;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #242424;
  outline: none;
}

.slider-number {
  display: flex;
  justify-content: flex-end;
  padding-right: 36px;
  padding-top: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
}

.slider-text {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: -42px;
  margin-bottom: 28px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 36px;
  color: #444444;
}

.slider-characteristics {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-characteristics-range {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 160px;
  min-height: 40px;
  display: block;
}

.slider-characteristics-name {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  color: #444444;
}

/* Categories */

.categories {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 69px;
  padding-top: 70px;
}

.categories-list {
  display: grid;
  gap: 40px 40px;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-link {
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
}

.reality {
  background-image: url("../images/categories/reality.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.monopod {
  background-image: url("../images/categories/monopod.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  align-items: flex-end;
}

.camera {
  background-image: url("../images/categories/camera.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bracelet {
  background-image: url("../images/categories/bracelet.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.watch {
  background-image: url("../images/categories/watch.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.quadcopter {
  background-image: url("../images/categories/quadcopter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.categories-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.categories-link:hover {
  background-color: #ffc700;
}

.categories-link:focus {
  outline: 5px solid #af4fff;
}

.categories-link:focus + p {
  color: #af4fff;
}

.categories-item:active .categories-link {
  background: #ffc700;
  outline: none;
  opacity: 0.3;
}

.categories-item:active .categories-title {
  color: #000000;
  opacity: 0.3;
}

.categories-title:active {
  color: #dcdcdc;
}

/* Services */

.services {
  margin: 0 auto;
  background-image: linear-gradient(#ffffff 112px, #ebebeb 112px);
}

.services-container {
  width: 1160px;
  padding-top: 84px;
  padding-bottom: 132px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.services-container::after {
  content: "";
  position: absolute;
  top: 14px;
  bottom: 56px;
  width: 0;
  border-right: 5px solid #000000;
}

.services-container:first-of-type::after {
  left: 278px;
}

.services-list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.delivery {
  margin-bottom: 18px;
}

.garanty {
  margin-bottom: 14px;
}

.tab-content {
  width: 814px;
  display: flex;
}

.tab-content-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding-left: 120px;
  width: 560px;
  margin-bottom: 30px;
}

.tab-content-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-left: 120px;
  width: 497px;
  color: #444444;
  margin: 0;
}

.tab-content-delivery {
  background-image: url("../images/delivery.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 136px;
  height: 164px;
}

.tab-content-garanty {
  background-image: url("../images/garanty.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 136px;
  height: 164px;
}

.tab-content-credit {
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 136px;
  height: 164px;
}

.tab-container-close {
  display: none;
}

.services-button {
  width: 160px;
  border: none;
}

.services-item:first-child {
  background-color: #000000;
}

.current-button {
  background-image: none;
  color: #ffe17f;
}

.current-button:hover,
.current-button:focus,
.current-button:active {
  background-color: #000000;
  background-image: none;
  opacity: 1;
  color: #ffe17f;
}

/* About company */

.company {
  width: 1160px;
  margin: 0 auto;
  padding: 90px 0;
}

.company-title-container {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.company-image-container {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
  margin-right: 194px;
}

.company-image {
  background-image: url("../images/order.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.company-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0f0f0;
  letter-spacing: 0.2em;
  margin-right: auto;
  width: 910px;
}

.company-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 72px;
  display: flex;
  justify-content: space-between;
}

.delivery-button-container {
  width: 125px;
  display: flex;
  justify-content: center;
}

.delivery-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  padding: 0;
}

.delivery-button:focus {
  outline: none;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 33px;
  background: rgba(220, 220, 220, 0.5);
}

.company-title-container:hover .company-image-container,
.company-title-container:active .company-image-container {
  background-color: #ffc700;
}

.company-title-container:focus {
  outline: 5px solid #af4fff;
}

.company-title-container:active .company-image-container {
  background-color: #ffc700;
}

.company-title-container:active {
  opacity: 0.3;
  outline: none;
}

.company-button {
  width: 260px;
}

.about {
  width: 560px;
}

.about-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 46px;
  position: relative;
}

.about-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -46px;
  width: 74px;
  border: 3px solid #000000;
}

.about-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.about-text:last-of-type {
  margin-bottom: 68px;
}

.about-list {
  margin: 0;
  margin-bottom: 52px;
  padding-left: 20px;
}

.about-item::marker {
  color: #ffe17f;
}

.contacts {
  width: 560px;
}

.contacts-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 46px;
  position: relative;
}

.contacts-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -46px;
  width: 74px;
  border: 3px solid #000000;
}

.contacts-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.about-name {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 20px;
  margin-left: 14px;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #444444;
  margin: 0;
}

.contacts-address-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-decoration-line: underline;
  color: #000000;
}

.contacts-address-phone:focus {
  outline: none;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 52px;
}

.contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  color: #444444;
}

/* Newsletter */

.newsletter {
  margin: 0 auto;
  background-color: #f0f0f0;
  margin-bottom: 0;
}

.newsletter-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 130px;
}

.newsletter-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.newsletter-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  width: 560px;
}

.newsletter-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  width: 560px;
  padding-top: 10px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  width: 1160px;
}

.newsletter-email {
  margin: 0;
  width: 601px;
  border-bottom: 3px solid #dcdcdc;
  opacity: 0.5;
}

.newsletter-field {
  font-family: "Rubik", sans-serif;
  width: 600px;
  background: #f0f0f0;
  border: none;
  opacity: 1;
  height: 52px;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-email:hover {
  opacity: 0.7;
}

.newsletter-email:focus-within {
  background: #dcdcdc;
}

.newsletter-field:focus {
  outline: none;
  background: #dcdcdc;
}

.newsletter-email:active {
  border-bottom: 3px solid #000000;
}

/* .newsletter-field:invalid {
  box-shadow: none;
  border-bottom: 3px solid #ff3d3d;
} */

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: #f0f0f0;
  color: #000000;
  border: 3px solid #dcdcdc;
  padding: 14px 20px;
  margin-right: auto;
  z-index: 1;
  width: 260px;
}

.newsletter-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.newsletter-button:focus {
  border: 3px solid #af4fff;
  outline: none;
}

.newsletter-button:active {
  background-color: #000000;
  color: #444444;
  border: 3px solid #000000;
  outline: none;
}

.newsletter-free-container {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.newsletter-free {
  margin-right: 21px;
}

.newsletter-free-span {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-right: 0;
}

/* Footer */

.page-footer {
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  background-color: #444444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-address {
  width: 240px;
  position: relative;
}

.footer-address::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 34px;
  width: 74px;
  border: 3px solid #ffc700;
}

.page-footer-logo {
  margin-bottom: 26px;
}

.footer-address-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.footer-social {
  width: 514px;
  padding-top: 60px;
}

.footer-navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  padding-bottom: 46px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation-link {
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 14px 20px 15px 20px;
  outline: none;
}

.footer-navigation-link::after {
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 7px;
  border: 2px solid #ffc700;
  visibility: hidden;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:hover::after {
  visibility: visible;
  color: #ffc700;
}

.footer-navigation-link:focus,
.catalog-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer-navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:first-child {
  margin-left: 162px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.circle-button:hover {
  outline: none;
  opacity: 1;
  background: #ffc700;
}

.circle-button:focus {
  outline: 5px solid #af4fff;
  opacity: 1;
  background: #444444;
}

.circle-button:focus svg {
  fill: #ffffff;
}

.circle-button:active {
  outline: none;
  opacity: 0.5;
  background: #ffc700;
}

.circle-button:active svg {
  fill: #444444;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  padding-top: 70px;
}

.phone-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  margin-bottom: 53px;
}

.phone-text:hover,
.phone-text:hover .footer-phone-number {
  color: #ffc700;
}

.phone-text:focus-within {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer-phone-number:focus {
  outline: none;
}

.phone-text:active {
  opacity: 0.3;
}

.footer-phone-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  text-decoration-line: underline;
  color: #ffffff;
}

.htmlacademy-link {
  padding: 10px;
}

.htmlacademy-link svg {
  fill: #ffc700;
}

.htmlacademy-link:hover svg {
  fill: #ffffff;
}

.htmlacademy-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.htmlacademy-link:active {
  outline: none;
  opacity: 0.3;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px 80px 80px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 89px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline-offset: 12px;
}

.modal-title {
  margin: 0;
  margin-bottom: 58px;
  font-family: inherit;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-form {
  display: grid;
  grid-template-columns: 360px 40px 200px 40px 160px;
  grid-template-rows: 94px 40px 94px;
  margin-bottom: 40px;
}

.delivery-form .field-group {
  margin: 0;
  position: relative;
}

.field-group:nth-child(1) {
  grid-column: 1/2;
}

.field-group:nth-child(2) {
  grid-column: 3/6;
}

.field-group:nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/4;
}

.field-group:nth-child(4) {
  grid-column: 5/6;
  grid-row: 3/4;
}

.delivery-form-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background: #f0f0f0;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 20px;
  padding-right: 50px;
}

.field-group label {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  height: 34px;
}

.email::placeholder {
  color: #000000;
}

.message {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.name-message {
  color: #ff3d3d;
}

.field-group:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 54px;
  right: 24px;
  width: 13px;
  height: 12px;
  background-image: url("../images/modal-user.svg");
  background-repeat: no-repeat;
}

.field-group:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 54px;
  right: 24px;
  width: 15px;
  height: 12px;
  background-image: url("../images/modal-email.svg");
  background-repeat: no-repeat;
}

.field-group:nth-child(4)::after {
  position: absolute;
  content: "";
  top: 2px;
  right: 14px;
  width: 26px;
  height: 26px;
  background-image: url("../images/modal-info.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #ffe17f;
}

.field-group .quantity {
  padding: 0;
  text-align: center;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.minus-button {
  position: absolute;
  top: 48%;
  left: 19px;
  border: none;
  width: 32px;
  height: 32px;
}

.plus-button {
  position: absolute;
  top: 48%;
  right: 19px;
  border: none;
  width: 32px;
  height: 32px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.3;
}

.delivery-form-field:hover {
  background: #ebebeb;
}

.delivery-form-field:focus {
  background: #f0f0f0;
  outline: 5px solid #af4fff;
}

.delivery-form-field:active {
  outline: 3px solid #000000;
}

.delivery-form-field:focus:invalid {
  border: 3px solid #ff3d3d;
}

.quantity-button:hover svg {
  fill: #000000;
}

.quantity-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.quantity-button:active {
  opacity: 0.1;
}

.field-group:nth-child(4):hover + .delivery-popover {
  display: block;
}

.delivery-popover {
  display: none;
  position: absolute;
  right: 0;
  bottom: 82px;
  width: 200px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.delivery-popover-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding: 19px 17px 0 19px;
}

/* catalog.html */

/* Main */

.main-inner {
  padding-top: 35px;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 60px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 46px;
  margin-bottom: 44px;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
  position: relative;
  padding: 5px 12px 6px 13px;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -8px;
  width: 4px;
  height: 7px;
  background-image: url("../images/arrow.svg");
  background-size: 4px 7px;
}

.breadcrumbs-item:hover .breadcrumbs-link {
  color: #000000;
  opacity: 1;
}

.breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 329px 832px 1fr;
  background: #ebebeb;
  position: relative;
  grid-template-areas: "left . . right" "left . . right";
}

.catalog-products::before {
  position: absolute;
  content: "";
  height: 70px;
  top: 0;
  width: 100%;
  background: #dcdcdc;
  grid-area: left;
}

.catalog-products::after {
  position: absolute;
  content: "";
  height: 70px;
  top: 0;
  width: 100%;
  background: #ebebeb;
  grid-area: right;
}

/* Filter */

.catalog-filter {
  grid-column: 2 / 3;
}

.catalog-filter-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 62px;
  background: #dcdcdc;
  letter-spacing: 0.2em;
}

.catalog-filter-form {
  width: 200px;
  padding-top: 80px;
  padding-right: 68px;
  margin-left: auto;
}

.catalog-filter-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 34px;
}

/* Group */

.catalog-filter-group {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  border: none;
  position: relative;
}

.catalog-filter-group::before {
  position: absolute;
  content: "";
  top: -70px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

/* Range */

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  width: 119px;
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.range-toggle:active {
  background: #000000;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Control */

.control {
  position: relative;
  display: block;
  padding-left: 37px;
  margin-bottom: 8px;
}

/* Mark */

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-mark-check {
  visibility: hidden;
}

.control-input[type="checkbox"]:checked + .control-mark .control-mark-check {
  visibility: visible;
}

.control:hover {
  opacity: 0.5;
}

.control-input:focus ~ .control-mark {
  border: 2px solid #af4fff;
  outline: none;
}

.control-input:focus ~ .control-label {
  color: #af4fff;
}

.control-input:focus + .control-mark .control-mark-check {
  fill: #af4fff;
}

.control:active {
  opacity: 0.2;
  outline: none;
}

/* Radio */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input:focus + .control-mark::before {
  background-color: #af4fff;
}

/* Label */

.control-label {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

/* Sorting */

.sorting-container {
  display: flex;
  align-items: center;
  /* padding: 25px 140px 25px 72px; */
  padding-top: 22px;
  padding-bottom: 28px;
  padding-left: 72px;
  background: #ebebeb;
}

.catalog-sorting-title {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 50px;
  letter-spacing: 0.2em;
}

.catalog-sorting-form {
  margin-right: 270px;
  height: 20px;
  width: 232px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Control */

.select-control {
  min-width: 100%;
  padding: 5px 44px 6px 15px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #ebebeb;
  border: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  position: relative;
}

.select-control::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -22px;
  width: 11px;
  height: 6px;
  background-image: url("../images/arrow-down.svg");
  background-size: 11px 6px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 5px solid #af4fff;
}

.select-control:active {
  outline: none;
  opacity: 0.3;
}

.catalog-right-column {
  background-color: #ffffff;
}

.sorting-button {
  width: 11px;
  height: 10px;
}

.button-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 11px solid #dcdcdc;
  outline-offset: 10px;
}

.button-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #000000;
  margin-left: 19px;
  outline-offset: 10px;
}

.sorting-button:focus {
  outline: 5px solid #af4fff;
}

/* Product-list */

.product-container {
  padding-left: 72px;
  padding-top: 69px;
  padding-bottom: 51px;
  width: 100%;
  background-color: #ffffff;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 44px;
}

.product-card {
  display: grid;
  grid-template-columns: min-content 96px;
  position: relative;
}

.product-card-link {
  display: none;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  grid-column: 1 / 2;
  text-align: start;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  line-height: 21px;
  color: #444444;
  grid-column: 2 / 3;
  text-align: end;
}

.product-card:nth-child(4)::after {
  content: "NEW";
  position: absolute;
  top: 26px;
  right: 27px;
  width: 56px;
  height: 56px;
  color: #444444;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-wrapper {
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: 32px;
}

.product-card-wrapper:hover img {
  opacity: 0.5;
}

.product-card-wrapper:hover a {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
}

.show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  width: 760px;
  height: 55px;
  background: #ffffff;
  border: 3px solid #ebebeb;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more:hover {
  border: 3px solid #000000;
  outline: none;
}

.show-more:focus {
  outline: 5px solid #af4fff;
  border: 3px solid transparent;
}

.show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
  outline: none;
}

/* Pagination */

.pagination {
  background: #ebebeb;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  padding-bottom: 77px;
  padding-left: 72px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 20px;
  border: 5px solid transparent;
}

.pagintation-prev {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagintation-next {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item:hover:first-child,
.pagination-item:hover:last-child {
  background: #dcdcdc;
}

.pagination-item:hover .pagination-link {
  color: #444444;
  opacity: 1;
}

.pagination-link:focus {
  border: 5px solid #af4fff;
  outline: none;
  opacity: 1;
}

.pagination-item:active:first-child,
.pagination-item:active:last-child {
  opacity: 0.3;
}

.pagination-link:active {
  outline: none;
}

.pagintation-number:active {
  opacity: 0.1;
}

.pagintation-number {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
}

.pagination-item:first-child {
  margin-right: auto;
  margin-left: 30px;
}

.pagination-item:last-child {
  margin-right: 30px;
  margin-left: auto;
}
